In [2]:
import pandas as pd
import numpy as np

In [77]:
# load the data set: 
pb_df = pd.read_csv("https://raw.githubusercontent.com/jtopor/AIM-5001/master/Week%206/bridges.data.version1", header = None)
pb_df.shape

(108, 13)

In [78]:
# sanity check - make sure data was read in as expected
pb_df.head()

   0  1   2     3         4     5  6  7        8     9      10 11    12
0  E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD
2  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD      ?  S  WOOD
3  E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH  WOOD  SHORT  S  WOOD
4  E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH  WOOD      ?  S  WOOD

In [80]:
# add meaningful column names
pb_df.columns = ['Identif', 
                'River',
                'Location',
                'Erected', 
                'Purpose',
                'Length',
                'Lanes',
                'Clear-G',
                'T-OR-D',
                'Material',
                'Span',
                'REL-L',
                'Type']

In [81]:
# displaying our updated dataset head:
pb_df.head(10)

,Identif,River,Location,Erected,Purpose,Length,Lanes,Clear-G,T-OR-D,Material,Span,REL-L,Type
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
5,E7,A,27,1840,HIGHWAY,990,2,N,THROUGH,WOOD,MEDIUM,S,WOOD
6,E8,A,28,1844,AQUEDUCT,1000,1,N,THROUGH,IRON,SHORT,S,SUSPEN
7,E9,M,3,1846,HIGHWAY,1500,2,N,THROUGH,IRON,SHORT,S,SUSPEN
8,E10,A,39,1848,AQUEDUCT,?,1,N,DECK,WOOD,?,S,WOOD
9,E11,A,29,1851,HIGHWAY,1000,2,N,THROUGH,WOOD,MEDIUM,S,WOOD

### Task:1

In [82]:
# after loading the dataset and then importing it into our jupyter notebook, I then created some useful column names
# Once this was done, I simply grouped the 'River','Purpose' and 'Material' attributes and used size to calculate QTY:


pb_df.groupby(['River', 'Purpose','Material']).size()

River  Purpose   Material
A      AQUEDUCT  IRON         1
                 WOOD         3
       HIGHWAY   ?            1
                 IRON         2
                 STEEL       21
                 WOOD         8
       RR        IRON         1
                 STEEL        9
                 WOOD         2
       WALK      STEEL        1
M      HIGHWAY   IRON         4
                 STEEL       19
                 WOOD         3
       RR        IRON         2
                 STEEL       13
O      HIGHWAY   ?            1
                 IRON         1
                 STEEL        9
       RR        STEEL        4
Y      HIGHWAY   STEEL        2
       RR        STEEL        1
dtype: int64

### Task 2:

In [93]:
# in order to successfully work with Task 2 we would have to clean the 'Length' column from '?' and change the datatype:
pb_df["Length"].replace({'?':np.nan}, inplace = True)

# now changing the dataype :
pb_df["Length"] = pd.to_numeric(pb_df["Length"])

In [96]:
#Creating a new variable 'grouped' where I will save the grouping information in it:
grouped = pb_df.groupby(['Purpose','Material'])

#now lets find the average with respect to the length:
grouped['Length'].mean()

Purpose   Material
AQUEDUCT  IRON        1000.000000
          WOOD        1092.000000
HIGHWAY   ?                   NaN
          IRON        1216.666667
          STEEL       1557.804348
          WOOD        1053.375000
RR        IRON        1100.000000
          STEEL       1946.850000
          WOOD                NaN
WALK      STEEL               NaN
Name: Length, dtype: float64

### Task 3:

In [105]:
# spliting the erected into 4 equal length time periods for our frame:
split_erected = pd.cut(pb_df.Erected, 4, precision = 0)
split_erected.head()

0    (1818.0, 1860.0]
1    (1818.0, 1860.0]
2    (1818.0, 1860.0]
3    (1818.0, 1860.0]
4    (1818.0, 1860.0]
Name: Erected, dtype: category
Categories (4, interval[float64]): [(1818.0, 1860.0] < (1860.0, 1902.0] < (1902.0, 1944.0] < (1944.0, 1986.0]]

In [106]:
# define a function that takes length as an input and then finds out the values, saving this as a dict formula:
def stats(length):
    return { 'Average Length': length.mean(), 'count': length.count(),
            'Max Length': length.max(),'Min Length': length.min()}

In [108]:
# creating a variable 'task3_group' which saves group by length info based on 'split_erected' frame:
task3_group = pb_df.Length.groupby(split_erected)

# calling the function created before:
task3_group.apply(stats).unstack()

                  Average Length  count  Max Length  Min Length
Erected
(1818.0, 1860.0]     1094.625000    8.0      1500.0       990.0
(1860.0, 1902.0]     1603.347826   23.0      4558.0      1000.0
(1902.0, 1944.0]     1676.181818   33.0      3000.0       860.0
(1944.0, 1986.0]     1530.411765   17.0      3756.0       804.0